html {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, black, #712471, black);
    height: 200vh;
}

.logo img {
    width: 50px;
    height: auto;
    margin-top: 5px;
    margin-left: 0;
}

.instalogo {
    width: 35px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 13px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #101;
    padding: 0px 30px 0 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 30px;
}

nav li {
    padding: 0 30px 0 0px;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

nav a:hover {
    color: #C49D33;
}

footer {
    color: white;
    width: 100%;
    position: absolute;
    bottom: -700px;
    width: 100%;
    text-align: center;
}

.compeclogo {
    width: 400px;
    margin: -100px;
}

#logo_exp {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 100px;
}

@media (max-width: 370px) {
    body {
        height: 300vh;
    }
}

/*
Üstteki kısım her sayfada olacak
Aşasğısı anasayfa özel
*/

.beyazlogo {
    width: 160%;
    align-self: center;
    padding-top: 8%;
}

.beyaz_yazi {
    width: 70%;
}

.nedir {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.nedir {
    margin: 5%;
    margin-top: -140px;
}

#main_left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#row {
    display: flex;
    flex-direction: row;
}

#bbo_logo {
    width: 40%;
    height: 40%;
}

.btn {
    display: block;
    font-size: 28px;
    font-weight: bold;
    border: 1px #712471 solid;
    margin: 75px auto;
    padding: 24px 18px;
    border-radius: 14px;
    color: #fff;
    background-color: #712471
}