html {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(135deg, black, #712471, black);*/
    background-color: #C49D33;
    height: 100%;
}

.logo img {
    width: 50px;
    height: auto;
    margin-top: 5px;
    margin-left: 0;
}

.instalogo {
    width: 35px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 13px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #101;
    padding: 0px 15px 0px 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 30px;
}

nav li {
    padding: 0 30px 0 0px;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

nav a:hover {
    color: #C49D33;
}

footer {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    bottom: 0;
}

.compeclogo {
    width: 100px;
}

#logo_exp {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0 100px;
}

.kategori {
    border: 5px solid #5e4b00;
    border-radius: 50px;
    background: rgb(21, 1, 18);
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.kategoribasligi {
    position: relative;
    color: rgb(226, 226, 226);
    font-size: 3vw;
    font-family: Gotham;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.tripleimagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    width: 100%;
    flex-wrap: wrap;
}
.doubleimagecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 3%;
}
.singleimagecontainer {
    display: flex;
    justify-content: center;
}
.imgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /*min-width: 120px;*/
    max-width: 240px;
}

.adaygorseli {
    width: 90%;
    border-radius: 10%;
    animation: adaygorselleri-reverse 0.7s forwards;
}

.adaygorseli:hover {
    animation: adaygorselleri 0.7s forwards;

}

.adayismi {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 9%;
}

@keyframes adaygorselleri {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}
@keyframes adaygorselleri-reverse {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

/* Mobile Navbar */
nav > #nav-btn, nav > #nav-check {
    display: none;
}

nav {
    z-index: 999;
}

@media screen and (max-width: 790px) {
    nav > #nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 8px;
    }
    nav > #nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 8px;
    }
    nav > #nav-btn > label:hover, nav  #nav-check:checked ~ #nav-btn > label {
        cursor: pointer;
      }
      nav > #nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      nav > #nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #C49D33;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: -40px;
      }
      nav > #nav-links > li {
        display: block;
        width: 80%;
        margin-left: 50px;
        font-size: 3em;
      }
      nav > #nav-check:not(:checked) ~ #nav-links {
        height: 0px;
      }
      nav > #nav-check:checked ~ #nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
}

/* Voting Form */
#form {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #000000, #712471);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box !important;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    margin: 10px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 800px;
    text-align: center;;
    display: none;
    border: 5px solid #C49D33;
}

.container.active {
    display: block;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: -10px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.question-container {
    display: none;
}

.question-container.active {
    display: block;
}

.candidate-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.candidate {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candidate img {
    width: 100%;
    max-width: 160px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #fff;
    margin-bottom: 6px;
    background: #fff;
}

.candidate label {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 1px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

.candidate:has(input[type="radio"]:checked) {
    border: 3px #C49D33 solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button-container {
    margin-top: 30px;
}

button {
    padding: 12px 30px;
    background: linear-gradient(135deg, #000000, #712471);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover, button:active {
    background: linear-gradient(135deg, #712471, #000000);
    cursor: pointer;
    border: 2px #C49D33 solid;
    color: #fff;
    background-color: #101;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons button {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .candidate {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .candidate {
        width: 100%;
    }
}

#welcomePage p {
    font-size: 1.2rem;
    color: #fff;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    border-radius: 45px;
    position: relative;
}

.progress-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
}

.thank-you-container {
    display: none;
    text-align: center;
    padding: 20px;
  }